<!DOCTYPE html>
<html>
<head>
    <title>Editar Usuario</title>
</head>
<body>

<h1>Editar Usuario</h1>

<form method="POST">

    <label>Nombre:</label>
    <input type="text"
           name="nombre"
           value="{{ usuario[1] }}"
           required>

    <br><br>

    <label>Apellido:</label>
    <input type="text"
           name="apellido"
           value="{{ usuario[2] }}"
           required>

    <br><br>

    <label>Correo:</label>
    <input type="email"
           name="correo"
           value="{{ usuario[3] }}"
           required>

    <br><br>

    <label>Rol:</label>

    <select name="id_rol">

        <option value="1">Administrador</option>
        <option value="2">Director de Planificación</option>
        <option value="3">Director Institucional</option>
        <option value="4">Usuario</option>

    </select>

    <br><br>

    <button type="submit">
        Guardar Cambios
    </button>

</form>

</body>
</html>
